
{% extends 'clients_base.html' %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="register-logo">
    <a href="/"><b>Coop MS</b></a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">New User information</p>

    <form action="/registration/" method="post"> {% csrf_token %}
    {{ form | crispy }}
    <div class="col-xs-4">
      <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
    </div>
    
    </form>
    <a href="/" class="text-center">I already have a membership</a>

    
  </div>
  <!-- /.form-box -->
{% endblock %}