{% extends 'clients_base.html' %}
{% load widget_tweaks %}
{% block content %}
  <div class="register-logo">
    <a href="/"><b>Coop MS</b></a>
  </div>

  <div class="register-box-body">
    <p class="login-box-msg">Votre no de compte est: {{ account_no }}</p>
    <a href="/">retour a la page principale</a>
    </div>    

{% endblock %}